@media (min-width: 1400px) {
    .container {
        max-width: 1200px !important;
    }
}

.container {
    /* max-width: 1200px; */
    padding: 0 !important;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container:nth-child(1) {
    height: 630px;
    background-image: url("./img/pic_main.png");
    background-repeat: no-repeat;
}

.container:nth-child(1) .column:nth-child(1) {
    text-align: center;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

header .nav li a {
    font-size: 1.2em;
    color: #fff;
}

ul.nav a:hover {
    color: #0dd42b !important; 
}

.formlog {
    width: 350px;
}

header + div {
    color: #fff;
}

header + div > div:first-child {
    background-color: rgba(0, 0, 0, 0.6);
}

header + div h4 {
    text-align: center;
    text-transform: uppercase;
}
header + div h4 > span {
    font-size: 0.85em;
}

.container > div:first-of-type input {
    width: 250px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    color: #fff;
}

button.registr {
    background: #0aa321;
    border-radius: 0;
    border: 0;
    width: 260px;
}

button.registr:hover {
    background: #037c16;
}

.container:nth-child(2),
.container:nth-child(3) {
    text-align: center;
}

.second-center {
    width: 870px;
    margin: auto;
}

.second-center p:nth-child(2) {
    text-align: left;
    margin-left: 50px;
}
.second-center p:nth-child(2) a {
    color: #0dd42b;
}

.container:nth-child(3) {
    background-image: url("./img/crypt_world.png");
    background-repeat: no-repeat;
    color: #fff;
}

.services-block {
    background-color: rgba(0, 0, 0, 0.6);
}

.container:nth-child(4) {
    height: 500px;
}

footer {
    background: #000;
}

footer p {
    color: #fff;
}

footer li a {
    font-size: 1.2em;
    color: #fff;
}